##########################################
##	.gitignore file for Vivado	##                                   
##########################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
!._.DS_STORE

#########
#Source files:
#########
#Do NOT ignore Verilog or VHDL files
!*.vhd
!*.v
!*.sv
!*.svh

#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc

#C-files
#########
!*.c
!*.h
!*.elf

########
#Docs files
!*.tex
!*.pdf
!*.svg
!*.txt
!*.mem
!*.hex
!*.f
!*.flist

########
#Obsidian files
!*.md
!*.png
!*.jpg
!*.json

########
# Project configuration and automation sources
!*.toml
!*.yaml
!*.yml
!*.tcl
!*.sdc
!*.do
!*.sh
!Makefile
!.gitkeep

# Generated LaTeX files
/reports/latex/build/
/docs/informe/build/
/docs/informe/tmp/
/docs/papers

# Local analysis and rendering intermediates
/tmp/

########
#Python files
!*.py
!*.ipynb
